.container {
  padding-top: 30px;
  color: #444;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.error {
  color: #900;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
